.containerContact {
    width: 100%;
    text-align: center;
    color: aliceblue;
    position: relative;
}
.containerContact::before{
    content: '';
    position: absolute;
    top: 15px;
    transform: translate(-50%, -25px);
    background-color: white;
    height: 1px;
    width: 300px;
    align-items: center;
}
.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.singleContact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    gap: 20px;
    flex-grow: 1;
}

.icon {
    font-size: 15px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.NameContact{
    letter-spacing: 3px;
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 10px;
}