
.container {
    width: 350px;
    background-color: #f8f2f2;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 10px;
}

.nameProject {
    text-transform: uppercase;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.containerImage{
    width: 100%;
    height: 300px;
    margin: 30px 0px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.wrapperBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.socialMediaBtn {
    width: 100px;
    background-color: #27bc58;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: aliceblue;
}
.socialMediaBtn > a {
    text-decoration: none;
    color: aliceblue;
}