
.container {
    width: 350px;
    /* background-color: #f8f2f2; */
    border: 4px solid #75FBFD;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
}

.nameProject {
    text-transform: uppercase;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: aliceblue;
}

.containerImage{
    width: 300px;
    height: 300px;
    margin: 30px 0px;
}
.img {
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.wrapperBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0px;
}

.socialMediaBtn {
    width: 100px;
    background-color: #27bc58;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
    border: none;
    color: aliceblue;
    transition: 0.2s linear;
}
.socialMediaBtn > a {
    text-decoration: none;
    color: aliceblue;
}

.socialMediaBtn:hover  {
    background-color: aliceblue;
    color: #242424;
}
.socialMediaBtn:hover > a  {
    color: #242424;
}