@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Vast+Shadow&display=swap'); 


.wrapper {
    height: 682px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;  
    padding: 5px;
}

.title {
    font-family: "Climate Crisis", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #75FBFD;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: 3rem;
    margin: 0px;
}

.wrapperTitles {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.containerMainTitle{
    display: flex ;
    flex-wrap: wrap;
}
.mainTitle {
    position: relative;
    font-family: "Climate Crisis", sans-serif;
    font-weight: 400;
    /* font-style: normal; */
    color: #75FBFD;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    margin: 0px;
    width: 100%;
    font-size: 3.1rem;
}
.rotetaWord {
    position: absolute;
    color: #75FBFD;
    transform: rotate(90deg) translateX(50px) translateY(13px);
    font-size: 3rem;
    animation: rotation 2s infinite;
}

.wrapperJobTitle{
    display: flex;
    flex-direction: flex;
    justify-content: end;
}

.jobTile{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.87);
}

.wrapperScrollDown {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgba(255, 255, 255, 0.87);
    height: 100px;
    justify-content: center;
}
.scrollDown {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    animation: sized  .9s alternate-reverse infinite;
}
.scrollDown > p{
    margin: 0px;
    letter-spacing: 2px;
}


  @keyframes rotation {
    0%   {transform: rotate(73deg) translateX(50px) translateY(13px);}
    5%   {transform: rotate(75deg) translateX(50px) translateY(13px);}
    10%   {transform: rotate(77deg) translateX(50px) translateY(13px);}
    15%   {transform: rotate(79deg) translateX(50px) translateY(13px);}
    20%   {transform: rotate(80deg) translateX(50px) translateY(13px);}
    25%   {transform: rotate(82deg) translateX(50px) translateY(13px);}
    30%   {transform: rotate(84deg) translateX(50px) translateY(13px);}
    35%   {transform: rotate(86deg) translateX(50px) translateY(13px);}
    40%   {transform: rotate(88deg) translateX(50px) translateY(13px);}
    45%   {transform: rotate(90deg) translateX(50px) translateY(13px);}
    50%  {transform: rotate(88deg) translateX(50px) translateY(13px);}
    55%  {transform: rotate(86deg) translateX(50px) translateY(13px);}
    60%  {transform: rotate(84deg) translateX(50px) translateY(13px);}
    65%  {transform: rotate(82deg) translateX(50px) translateY(13px);}
    70%  {transform: rotate(80deg) translateX(50px) translateY(13px);}
    75%  {transform: rotate(78deg) translateX(50px) translateY(13px);}
    80% {transform: rotate(77deg) translateX(50px) translateY(13px);}
    85% {transform: rotate(76deg) translateX(50px) translateY(13px);}
    90% {transform: rotate(75deg) translateX(50px) translateY(13px);}
    95% {transform: rotate(74deg) translateX(50px) translateY(13px);}
    100% {transform: rotate(73deg) translateX(50px) translateY(13px);}
  }