.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
}

.wrapper::before{
    content: '';
    position: absolute;
    top: 15px;
    transform: translate(0%, -25px);
    background-color: white;
    height: 1px;
    width: 300px;
    align-items: center;
}

.title {
    text-transform: uppercase;
    color: gold;
    letter-spacing: 3px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapperProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}